body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 250px;
  height: 405px;
  color: hsla(0, 0%, 100%, 0.75);
  padding: 41px;
}

.title {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  margin-top: 20px;
  font-size: 30px;
}

.text {
  text-align: unset;
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 70px;
  line-height: 20px;
}

.icon {
  width: 50px;
}

.button {
  padding: 10px 30px 10px 30px;
  border-style: hidden;
  background-color: aliceblue;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 700;
  font-family: "Lexend Deca";
  font-size: 12px;
}

#orange-button:hover {
  background-color: hsl(31, 77%, 52%);
  border-style: solid;
  border-width: 2px;
  color: aliceblue;
}

#cyan-button:hover {
  background-color: hsl(184, 100%, 22%);
  border-style: solid;
  border-width: 2px;
  color: aliceblue;
}

#green-button:hover {
  background-color: hsl(179, 100%, 13%);
  border-style: solid;
  border-width: 2px;
  color: aliceblue;
}

#parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sedans-container {
  background-color: hsl(31, 77%, 52%);
  border-style: hidden;
  border-radius: 10px 0 0 10px;
}

#suvs-container {
  background-color: hsl(184, 100%, 22%);
}

#luxury-container {
  background-color: hsl(179, 100%, 13%);
  border-style: hidden;
  border-radius: 0 10px 10px 0;
}

#orange-button {
  color: hsl(31, 77%, 52%);
}

#cyan-button {
  color: hsl(184, 100%, 22%);
}

#green-button {
  color: hsl(179, 100%, 13%);
}